#outer-header, #outer-footer, .aplus-container {
    max-width: 75% !important;
}

.action {
    padding: 1.5em 1.5em 1.5em 1.5em !important;
}

.mon-link-block {
    background-color: white !important;
}

.upper_sec {
    background-color: #006cab !important;
    border-radius: 0px !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
